#aqui segue um molde do .env com suas devidas atualizacoes sendo mantidas
#favor time atualizar conforme forem implementando novas variaveis
#bem como informar onde sao utilizadas

#secao banco de dados <----->
POSTGRES_USER=micromouse
POSTGRES_PASSWORD=senhadobanco
POSTGRES_DB=micromouse
POSTGRES_PORT=5432
#<---------->
